/* ---------------------------------------------------------
    * Name: UpSkill - Education Online Courses LMS HTML Template
    * Version: 1.0.0
    * Author: Creative Layers
    * Author URI: Creative Layers
	* Abstracts variable
    
    * Reset css styles

    * Components

    * section

    * dashboard

    * Responsive
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@import "./abstracts/index";

/*---------- Reset css styles ----------- */
@import "reset";

/*------------ Components ---------------- */
@import "./component/index";

/*------------ widgets ---------------- */
@import "./widgets";

/*------------ sections ---------------- */
@import "./sections";

/*-------------- Responsive ----------------- */
@import "./responsive";
